/* =========================================
   THEME ABYSSE - Ténèbres Profondes
   ========================================= */
:root {
    --bg-body: #16181d; /* Anthracite très doux (façon Discord) */
    --animation-fond: none; 
    
    --bg-box: #1f2229; /* Boîtes légèrement plus claires */
    --bg-hover: #2b2f38;
    
    --text-main: #d4dbe2; /* Gris perle subtilement bleuté */
    --text-title: #e0e5ea; 
    --text-muted: #88929e;
    --text-hover: #ffffff;
    
    --border-color: #383c47;
    --border-hover: #5865F2; /* Bleu Discord assumé pour le hover */
    
    --accent-red: #8f2c34; /* Rouge foncé désaturé */
    --accent-blue: #5865F2; 
    
    --logo-glow: drop-shadow(0 0 10px rgba(255, 255, 255, 0.1));
    --shadow-box: 0 4px 10px rgba(0,0,0,0.5);
    --shadow-hover: 0 0 8px rgba(88, 101, 242, 0.5);
    --shadow-toggle: 0 0 5px rgba(0,0,0,0.5);
}